@MARGIN: 10mm;
@PAGE_WIDTH: 210mm;
@PAGE_HEIGHT: 297mm;
@TOP_OFFSET: (@PAGE_HEIGHT - @MARGIN);
@PAGECONTENT_WIDTH: (@PAGE_WIDTH - @MARGIN * 2);
@PAGECONTENT_HEIGHT: (@PAGE_HEIGHT - @MARGIN * 2);

/* @{PAGE_WIDTH} x @{PAGE_HEIGHT} */
/* suppose @{MARGIN} margin */

@import url(http://fonts.googleapis.com/css?family=Alegreya:700);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif:700);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif);

.A4Portrait {
    /* background-color:gray; */
}

.INNER {
    /* background-color:#666666; */
    width:@PAGECONTENT_WIDTH;
    height:@PAGECONTENT_HEIGHT;
}

.ruler {
    width:@PAGECONTENT_WIDTH;
}

@media screen {
  p.test {font-family:verdana,sans-serif;font-size:5mm;}
  .A4Portrait { margin-left:auto; margin-right:auto; box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.75); }
  .A4Portrait {
      width:@PAGE_WIDTH;
      height:@PAGE_HEIGHT;
      margin-top:1em;
  }
  .INNER { margin-left:@MARGIN; margin-top:@MARGIN; float: left; }
}

@media print {
  p.test {font-family:verdana,sans-serif;font-size:5mm;}
  body { -webkit-print-color-adjust: exact;}
  .A4Portrait {
      width:@PAGECONTENT_WIDTH;
      height:@PAGECONTENT_HEIGHT;
      margin: none; margin-top: none; }
  .A4Portrait { page-break-inside: avoid; }
  .INNER { margin: auto auto auto auto; }
  @page { margin: @MARGIN; }
}

@media screen,print {
  p.test {font-weight:bold;}
}

h1 { font-family: 'Alegreya', serif; }
h2 { font-family: 'Alegreya', serif; }

h1.name { font-size: 28px; }
h1.addr { font-size: 14px; margin-top: 3px; margin-bottom: 3px; }


/* I would use 3 borders to include bizcard-hk to uk then to iso */
div.bizcard-hk  { width: 90mm; height: 54mm; } /* Hong Kong / China size */
div.bizcard-uk  { width: 85mm; height: 55mm; } /* UK/ Europe */
div.bizcard-iso { width: 74mm; height: 52mm; } /* ISO 216 / A8 Sized */
div.bizcard-us  { width: 88.9mm; height: 50.8mm; } /* Canada / US */
hr.bizcard-hr { width:78.9mm; border-style: solid; margin-top: -20px; margin-bottom: 18px; }

div.section { float: left; width: 100%; margin-top: 0mm; margin-bottom: 0mm; margin-left:0%; overflow: hidden; }
.section > h2 { font-size: 18px; margin-top: 5px; margin-bottom: 5px; }
.section > h2.cont:after { content: " (cont)"; }
.section > hr { width: 100%; border-style: solid; margin-top: -6px; margin-bottom: 4px; }
.section > hr { margin-left: -3px; } /* Fix */
body { font-family: 'Noto Serif', serif; font-size: 14px; }
.section > ul { margin-top: 3px; margin-bottom: 3px; padding-left: 11em; list-style-type: none; }
.section > ul > li { margin-bottom: 0.5em; }
.section > ul > li { list-style-type: none; }
.section > ul > li .date { margin-right: 0em; display: block; float: left; text-align: right; }
.section > ul > li .date { border-right: 1px solid black; padding-right: 0.5em; }
.section > ul { padding-left: 11em; }
.section > ul > li .date { margin-left: -11em; width: 10em; }
.section > ul > li .date { border-bottom: 1px solid black; padding-bottom: 2px; }
.section > ul > li > h3 { font-size: 14px; }
.section > ul > li > h3 { margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px; }
.section > ul > li > h3 { font-weight: bold; }

.section > ul > li > ul { padding-left: 8mm; }

div.top-margin-54mm-2in { margin-top: 3.2mm; }
div.float-right { float: right; }
div.float-left  { float: left; }
div.clearance {clear: left; }
div.right-bottom { float: right; margin-top: auto; margin-bottom: 5mm; margin-right: 5mm; }
div.left-bottom  { float: left;  margin-top: auto; margin-bottom: 5mm; margin-left: 5mm; }
div.align-right  { text-align: right; }

div.letter-inner { font-family: 'Alegreya', serif; }
.outline { outline: 2px solid #666666; }
div.clearnone {clear: none; }

/* .hidden could be change to .hidden-shown in javascript,
   then they are not only shown, but also outlined;
   currently use #show-hidden in the URL can show this. */
.hidden { display: none; }
.hidden-shown { outline: 1px solid red; }

/* Functions for debugging, please mark
   an element to be .DEBUG to outline it */
@debug-color-1: #000000;
@debug-color-2: #333333;
@debug-color-3: #666666;
@debug-color-4: #999999;
@debug-color-5: #cccccc;
@debug-color-6: red;
.debug-func(@color) {
    outline: 2px solid @color;
}
* .DEBUG            { .debug-func(@debug-color-1); }
* * .DEBUG          { .debug-func(@debug-color-2); }
* * * .DEBUG        { .debug-func(@debug-color-3); }
* * * * .DEBUG      { .debug-func(@debug-color-4); }
* * * * * .DEBUG    { .debug-func(@debug-color-5); }
* * * * * * .DEBUG  { .debug-func(@debug-color-6); }
