/* Use pt instead of mm */
/* assume 72dpi, then 2.83dp mm */

@MARGIN: 28pt;
@PAGE_WIDTH: 595pt;
@PAGE_HEIGHT: 841pt;
@TOP_OFFSET: (@PAGE_HEIGHT - @MARGIN);
@PAGECONTENT_WIDTH: (@PAGE_WIDTH - @MARGIN * 2);
@PAGECONTENT_HEIGHT: (@PAGE_HEIGHT - @MARGIN * 2);

@small_size: 8pt;
@normal_size: 10pt;
@big_size: 12pt;
@baseline: 14pt;
@gutter: 20pt;
@half_baseline: @baseline / 2;

@name_size: 20pt;
@addr_size: @normal_size;

@section_title_padding_top: 5pt;
@section_title_size: @baseline;
@section_title_line_height: 1.5 * @baseline;
@section_title_border_bottom: 2pt;

@section_h3_size: 11pt;
@section_h3_font_offset: 0pt;


/* @{PAGE_WIDTH} x @{PAGE_HEIGHT} */
/* suppose @{MARGIN} margin */

@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Alegreya:700);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif:700);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

@import url(http://fonts.googleapis.com/css?family=Lekton);
.normal-1 { font-family: 'Lekton'; } /* Typer style */

@import url(http://fonts.googleapis.com/css?family=Anaheim);
.normal-2 { font-family: 'Anaheim'; } /* Typer style */

@import url(http://fonts.googleapis.com/css?family=Roboto);
.normal-3 { font-family: 'Roboto'; } /* Informal, not good */

@import url(http://fonts.googleapis.com/css?family=Inconsolata);
.normal-4 { font-family: 'Inconsolata'; } /* Typer style */

@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro);
.normal-5 { font-family: 'Anonymous Pro'; } /* Typer style */

@import url(http://fonts.googleapis.com/css?family=Dosis);
.normal-6 { font-family: 'Dosis'; } /* Not bad if @baseline: 22px; @normal_size: 16px; */

@import url(http://fonts.googleapis.com/css?family=News+Cycle);
.normal-8 { font-family: 'News Cycle'; } /* Quite good if @baseline: 22px; @normal_size: 16px; */

@import url(http://fonts.googleapis.com/css?family=Ubuntu);
.normal-10 { font-family: 'Ubuntu'; } /* Not bad! */

@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic);
.normal-17 { font-family: 'Carrois Gothic'; } /* Not bad! */

@import url(http://fonts.googleapis.com/css?family=Imprima);
.imprima { font-family: 'Imprima'; } /* not bad! although informal */

.normal { .imprima; font-weight: 300; }
.serif  { font-family: 'Noto Serif'; }
.narrow { font-family: 'Helvetica Neue Narrow'; }
.alegreya { font-family: "Alegreya"; }

h1 { .alegreya; }
h2 { .alegreya; }
h3 { .alegreya; }

h1, h2, h3 { line-height: @baseline; }

.A4Portrait {
    /* background-color:gray; */
}

.INNER {
    /* background-color:#666666; */
    width: @PAGECONTENT_WIDTH;
    height:@PAGECONTENT_HEIGHT;
}

.ruler {
    width: @PAGECONTENT_WIDTH;
}

@media screen {
  p.test {font-family:verdana,sans-serif; font-size: 10pt;}
  .A4Portrait { margin-left:auto; margin-right:auto; box-shadow: 0pt 0pt 30pt rgba(50, 50, 50, 0.75); }
  .A4Portrait {
      width:@PAGE_WIDTH;
      height:@PAGE_HEIGHT;
      margin-top:1em;
  }
  .INNER { margin-left:@MARGIN; margin-top:@MARGIN; float: left; }
}

@media print {
  p.test {font-family:verdana,sans-serif; font-size: 5pt;}
  body { -webkit-print-color-adjust: exact;}
  .A4Portrait {
      width: @PAGECONTENT_WIDTH;
      height:@PAGECONTENT_HEIGHT;
      margin: none; margin-top: none; }
  .A4Portrait { page-break-inside: avoid; }
  .INNER { margin: auto auto auto auto; }
  @page { margin: @MARGIN; }
}

@media screen,print {
  p.test {font-weight:bold;}
}

h1.name { font-size: @name_size; margin-top: @baseline; margin-bottom: @baseline; }
h1.addr { font-size: @addr_size; margin-top: 0pt; margin-bottom: 0pt; }


/* I would use 3 borders to include bizcard-hk to uk then to iso */
@hk_width: 255pt; /* 290mm; */
@hk_height: 153pt; /* 153pt; */
div.bizcard-hk  { width: @hk_width; height: @hk_height; } /* Hong Kong / China size */
@uk_width: 241pt; /* 85mm; */
@uk_height: 147pt; /* 52mm; */
div.bizcard-uk  { width: @uk_width; height: @uk_height; } /* UK/ Europe */
@iso_width: 210pt; /* 74mm */
@iso_height: 147pt; /* 74mm */
div.bizcard-iso { width: @iso_width; height: @iso_height; } /* ISO 216 / A8 Sized */
@us_width: 252pt; /* 88.9mm */
@us_height: 144pt; /* 50.8mm */
div.bizcard-us  { width: @us_width; height: @us_height; } /* Canada / US */

@biz_width: @us_width;
@biz_height: @us_height;
@biz_margin: 14pt;

@biz_hr_width: @biz_width - 2 * @biz_margin;
@biz_hr_border: 1pt;
@biz_hr_offset: 3pt;
.bizcard-left, .bizcard-us.float-right {
    text-align: right;
    line-height: @biz_height;
    /* outline: 2pt solid #666666; */
}
.bizcard-right, .bizcard-us.float-left {
    text-align: left;
    line-height: @biz_height;
    /* outline: 1pt dashed black; */
}
hr.bizcard-hr { 
    width: @biz_hr_width;
    border-top: @biz_hr_border solid black;
    border-bottom: none;
    margin-top: -@baseline + @biz_hr_offset;
    margin-bottom: @baseline - @biz_hr_border - @biz_hr_offset;
}
.left-right-bottom {
    display: inline-block;
    vertical-align: bottom;
    margin-left: @biz_margin;
    margin-right: @biz_margin;
    margin-bottom: @biz_margin;
}
div.right-bottom {
    .left-right-bottom;
}
div.left-bottom  {
    .left-right-bottom;
}
div.scissors-container {
    display: none;
    position: relative;
    top: @baseline / 2;
    left: @gutter;
    background: white;
    line-height: @baseline;
    font-size: @baseline;
    vertical-align: bottom;
}

body { .normal; font-size: @normal_size; line-height: @baseline; }

section { float: left; width: 100%; margin-top: 0mm; margin-bottom: 0mm; margin-left:0%; overflow: hidden; }
section h2 { margin-top: @baseline; margin-bottom: @baseline; }
section h2 { font-size: @section_title_size; line-height: @section_title_line_height; }
section h2 { padding-top: @section_title_padding_top; }
section h2 { border-bottom: @section_title_border_bottom solid; }
section h2.cont:after { content: " (cont)"; }
section > ul { margin-top: @baseline; margin-bottom: @baseline; }
section > ul { list-style-type: none; }
section > ul > li { margin-top: @baseline; }

/* date and venue aside */
@aside_width: 11.5em;
@aside_width_inner: 10em;
@aside_pading_right: 6pt;
@aside_border: 1pt;
section > ul       { padding-left: 0pt; }
section > ul > li  { padding-left: @aside_width; }
section li span.date,
section li aside   { float: left; margin-left: -@aside_width; width: @aside_width_inner; text-align: right; }

/* aside's bottom and right border */
aside { border: 0pt solid black; }
aside { border-bottom-width: @aside_border; border-right-width: @aside_border; }
aside { padding-right: @aside_pading_right; }

date, venue { display: block; }

section h3 { position: relative; top: @section_h3_font_offset; }
section h3 { font-size: @section_h3_size;  }
section h3 { margin-top: 0pt; margin-bottom: 0pt; padding-bottom: 0pt; }

section > ul > li > ul { padding-left: 8mm; }

div.top-margin-54mm-2in { margin-top: 3.2mm; }
div.float-right { float: right; }
div.float-left  { float: left; }
div.clearance {clear: left; }
div.align-right  { text-align: right; }

div.letter-inner { .alegreya; }
.outline { } /* should remove this */
div.clearnone {clear: none; }

/* .hidden could be change to .hidden-shown in javascript,
   then they are not only shown, but also outlined;
   currently use #show-hidden in the URL can show this. */
.hidden { display: none; }
.hidden-shown { outline: 1pt solid red; }

/* Functions for debugging, please mark
   an element to be .DEBUG to outline it */
@debug-color-1: #000000;
@debug-color-2: #333333;
@debug-color-3: #666666;
@debug-color-4: #999999;
@debug-color-5: #cccccc;
@debug-color-6: red;
.debug-func(@color) {
    outline: 3pt solid @color;
}
* .DEBUG            { .debug-func(@debug-color-1); }
* * .DEBUG          { .debug-func(@debug-color-2); }
* * * .DEBUG        { .debug-func(@debug-color-3); }
* * * * .DEBUG      { .debug-func(@debug-color-4); }
* * * * * .DEBUG    { .debug-func(@debug-color-5); }
* * * * * * .DEBUG  { .debug-func(@debug-color-6); }
